*{
    font-family: 'Bebas Neue', cursive;
}
body{
    margin:0;
    font-size: 1rem;
   
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth !important;
}
header{
    height: 100vh;
    background-image: url(images/campus1.jpg);
    background-size: cover;
}
a{
    text-decoration: none !important;
}

    
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #ea272d;
    border: 31px none white;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: white;
}
::-webkit-scrollbar-thumb:active {
    background: white;
}
::-webkit-scrollbar-track {
    background: white;
    border: 1px solid white;
    border-radius: 5px;
}
::-webkit-scrollbar-track:hover {
    background: white;
}
::-webkit-scrollbar-track:active {
    background: white;
}
::-webkit-scrollbar-corner {
    background: transparent;
}



/* Header */



.navbar {
  overflow: hidden;
  position: fixed !important;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 85%;
  z-index: 2000;
}
.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* .navbar a:hover {
  background: #ddd;
  color: black;
} */
.margin_header{
    margin-top: 5rem;
}
.fs-42{
    font-size: 4.2rem;
}
.fs-2{
    font-size: 2rem;
}
.font-w-700{
    font-weight: 700;
}
.color-red{
    color: #ea272d;
}
.fs-80{
    font-size: 7.4rem;
}
.fs-30{
    font-size: 3rem;
}



/* Présentation */




.presentation{

    background-color: #FFF;
}
.color-red{
    color: #ea272d;
}
.btn_presentation{
    border: 2px solid  #ea272d;
    border-color: #ea272d !important;
    font-size: 2rem !important;
    border-radius: 0.5rem;
}
.btn:hover{
    color: #ea272d !important;
}
.img_presentation{
    width: 100%;

}
.title-chef{ 
    font-size: 2.3rem; 
    text-transform: uppercase; 
    letter-spacing: .5em; 
    font-weight: 300;
}
.font_visiteurs{

    font-size: 4.5rem; 
    font-weight: 300; 
    line-height: 1.1;
}
.text_chef{
    font-size: 2rem !important;
}



/* Menu */

.menu{
    background-color: #FFF;
}

/* Offres */

.offres{
    background-image: url(images/bg_4.jpg);
    color: #f8f9fa!important
}
.offres-title{
    font-size: 2.3rem;
    text-transform: uppercase;
    letter-spacing: .5em;
    font-weight: 300;
}
.lead{
    font-size: 1.7rem !important;
    font-weight: 300;
}
.font_offres{
    font-size: 5.5rem; 
    font-weight: 300; 
    line-height: 1.1;
}
.price{
    color: #ea272d;
    font-size: 5rem;
    }
.contenu_menu{
    color: #ea272d;
    font-size: 2.5rem;
}
.student{
    color: orange; 
    font-size: 2.5rem;
}
.margin-resa{
    margin-top: 10rem !important;
}
.fs-resa{
    font-size: 2rem !important;
}
.mt-resa{
    margin-top: 7rem !important;
}
.pb-submit{
    padding-bottom: 2rem !important;
}
.center-resa{
    position: absolute !important;
    top: 40% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

/* Réalisation */

.realisation{
   
        background-image: url(images/bg_4.jpg);
        color: #f8f9fa!important
}

/* Contact */

.btn-danger:hover {
    color: #fff !important;
    background-color: #ea272d !important;
    border-color: #ea272d !important;
}



@media screen and (min-width: 769px){
    .w-lg-25{
        width: 25% !important;
    }
    .outer-menu{
        display: none !important;
    }
}

@media screen and (max-width: 768px){
    .navbar{
        display: none !important;
    }
}


@media screen and (max-width: 576px){
.padding_media {
    padding: 0 !important;
}
}





.card-menu {display: flex; height: 400px;width: 200px;background-color: rgb(52,58,64);border-radius: 10px; box-shadow: -1rem 0 3rem #000; margin-left: -30px; transition: 0.4s ease-out;position: relative;left: 0px;}
  

  
  .card-menu:hover {transform: translateY(-20px);transition: 0.4s ease-out;}
  
  .card-menu:hover ~ .card-menu {position: relative;left: 50px; transition: 0.4s ease-out;}

.date{margin-top: 6rem !important; position: absolute;left: 20px; font-size: 0.9rem; }

.v{  text-shadow: 3px 3px rgb(0, 0, 0);  font-family: Brush Script MT, Brush Script Std, cursive;  font-size: 2.5rem !important; }  

.title {text-shadow: 1.5px 1.5px #ea272d; font-family: Brush Script MT, Brush Script Std, cursive; color: white; font-weight: 300;font-size: 2.5rem; position: absolute; left: 20px; top: 15px; border-bottom: #ff0008 solid 1px;}
  
  .bar {position: absolute; top: 100px; left: 20px; height: 5px; width: 150px;}
  
  .fs-title-menu{
      font-size: 2.5rem !important;
  }
  .emptybar { background-color: #2e3033; width: auto; height: 100%;}

  .filledbar { position: absolute; top: 0px; z-index: 3; width: 0px; height: 100%; background: linear-gradient(90deg, rgb(247, 237, 238) 0%, rgb(170, 42, 42) 65%, rgb(71, 0, 0) 100%); transition: 0.6s ease-out;}
  
  .card-menu:hover .filledbar { width: 120px;transition: 0.4s ease-out;}
  
  .circle { position: absolute;top: 120px;left: 20px;line-height: normal;}
  
  .stroke {stroke: white;stroke-dasharray: 360;stroke-dashoffset: 360;transition: 0.6s ease-out; font-family: Brush Script MT, Brush Script Std, cursive;}
  
  svg { fill: #17141d; stroke-width: 2px;}
  
  .card-menu:hover .stroke {stroke-dashoffset: 100;transition: 0.6s ease-out;}

/**** media queries ****/

@media (max-width: 575.98px) { 
  .card-menu {display: flex; height: 400px;width: 30rem;background-color: rgb(52,58,64);border-radius: 10px; box-shadow: -1rem 0 3rem #000; margin-left: -30px; transition: 0.4s ease-out;position: relative;left: 0px;}

 
 }


@media (min-width: 576px) and (max-width: 767.98px) {     
  .card-menu {display: flex; height: 400px;width: 450px;background-color: rgb(52,58,64);border-radius: 10px; box-shadow: -1rem 0 3rem #000; margin-left: -30px; transition: 0.4s ease-out;position: relative;left: 0px;}
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
   
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

@media (min-width: 1200px) { 

 }

